@{
  ViewBag.Title = "Home Page";
}

<h1>成功取得Report的HTML字串：</h1>
<br />
<h4 style="color:blue">@ViewBag.Message</h4>
<br />
@if (ViewBag.Message2 != null)
{
  <h4 style="color:blue">@ViewBag.Message2</h4>
  <br />
}